<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form">
                            <h3 class="text-center text-info">42App</h3>
							<p class="text-center">by: fgata-va</p>
                            <div class="form-group text-center">
                                <label for="remember-me" class="text-info">Login with Oauth</label><br>
                                <a name="Login" class="btn btn-info btn-md" value="Login"
								href = "https://api.intra.42.fr/oauth/authorize?client_id=969f72ab9c2ac50193024df176df583777c93b8e4d5e86b0870aa2a5199938ec&redirect_uri=http%3A%2F%2Flocalhost%2Fcallback&response_type=code
">Login</a>
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="https://api.intra.42.fr/apidoc" class="text-info">42API reference</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
